streamlit==1.29.0
pandas==2.1.4
pillow==10.1.0
requests==2.31.0
feedparser==6.0.10
pytz==2023.3
duckduckgo-search==6.1.0
beautifulsoup4==4.12.2

# ВМЕСТО opencv используй эти:
imageio==2.31.6
imageio-ffmpeg==0.4.9
scikit-image==0.22.0
numpy==1.25.2
matplotlib==3.8.0

# Google APIs
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-api-python-client==2.104.0

# Безопасность
bcrypt==4.0.1

# AI без тяжелых зависимостей
g4f==0.1.9.2
nest_asyncio==1.5.8
aiohttp==3.9.1

# Гео
streamlit-geolocation==0.1.0
geopy==2.4.0
folium==0.14.0
streamlit-folium==0.15.1
